<h1>
    Store
</h1>
<ul>
    <li>
        <a href="/store/augmentations">Augmentations</a>
    </li>
    <li>
        <a href="/store/things">Things</a>
    </li>
    <li>
        <a href="/store/resources">Resources</a>
    </li>
</ul>