<label>
    <span><p>Username - {{username}}</p></span>
</label>
    <span>
        <form action="/user/name" method="POST" >
            <input type="text" class="form-control" id="exampleInputUsername" name="username" required>
            <button type="submit" class="btn btn-danger">Change Username</button>
        </form>
    </span>
<span>
</span>
