<h3>Buy Chance</h3>
    <div>
        <button type="button" onclick="toggleButton(50)">BUY 50%</button>Price - 0.05 DBT
    </div>
    <div>
        <button type="button" onclick="toggleButton(75)">BUY 75%</button>Price - 0.075 DBT
    </div>
<script src="../../js/chance.js"></script>
<h3>Choose Generation</h3>
<ul>
    <li>
        <a href="/laboratory/combining/zero">0 generation</a>
    </li>
    <li>
        <a href="/laboratory/combining/first">1 generation</a>
    </li>
    <li>
        <a href="/laboratory/combining/second">2 generation</a>
    </li>
    <li>
        <a href="/laboratory/combining/third">3 generation</a>
    </li>
    <li>
        <a href="/laboratory/combining/new">New generation</a>
    </li>
    <li>
        <a href="/laboratory/combining/lost">Lost Models</a>
    </li>
</ul>   