<h3>
    Feeding
</h3>
<h4>
    Abilities
</h4>
<form action="/laboratory/feeding" method="POST">
    <input type="number" min="1" class="form-control" id="card" name="card" value="1">
    <button type="submit" class="btn btn-info">Get Card Abilities</button>
</form>
{{#if abilities}}
    <button type="submit" class="btn btn-success" onclick="toggleButton()">Feed</button>
    <span>Price: 0.01 DBT</span>
{{/if}}
<ul>
    <h5>Abilities</h5>
    {{#each numAbilities}}
        <li>
            <span>ID: {{id}}</span>
            <span class="numAbility">Value: <span>{{value}}</span></span>
        </li>
    {{/each}}
</ul>
<ul>
    <h5>Initial Abilities</h5>
    {{#each alwaysAbilities}}
        <li>
            <span>ID: {{id}}</span>
            <span class="alwaysAbility">Value:  <span>{{value}}</span></span>
        </li>
    {{/each}}
</ul>
<script src="../js/lab/feeding.js">
</script>